<?xml version="1.0"?>
<ruleset name="AR/WP/Plugin ruleset">

    <description>Custom ruleset for AR/WP/Plugins</description>

    <!-- Show progress in all reports. -->
    <arg value="p"/>

    <!-- A path to strip from the front of file paths inside reports. -->
    <!-- <arg name="basepath" value="."/> -->
    <arg name="colors"/>
    <arg name="extensions" value="php"/>

    <!-- Exclude the Composer Vendor directory. -->
    <exclude-pattern>/vendor/*</exclude-pattern>

    <!-- Exclude the Node Modules directory. -->
    <exclude-pattern>/node_modules/*</exclude-pattern>

    <!-- Set minimum supported WordPress version -->
    <config name="minimum_supported_wp_version" value="6.6"/>

    <!-- Check for PHP cross-version compatibility. -->
    <config name="testVersion" value="8.2-"/>
    <rule ref="PHPCompatibilityWP"/>
    
    <config name="text_domain" value="favicon-rotator,default"/>

	<!-- Sanitized Input rules -->
	<rule ref="WordPress.Security.ValidatedSanitizedInput">
		<type>warning</type>
	</rule>

    <!-- Include the WordPress standard. -->
    <rule ref="WordPress-Extra">
        <!-- Use PSR-4 file naming standard instead -->
        <exclude name="WordPress.Files.FileName"/>
        <!-- Allow short array syntax -->
        <exclude name="Universal.Arrays.DisallowShortArraySyntax.Found"/>
        <!-- Allow global variable override -->
        <exclude name="WordPress.WP.GlobalVariablesOverride.Prohibited"/>
        <!-- ** WordPress-Specific ** -->

        <!-- ** Standard ** -->
        <exclude name="Generic.Files.LineEndings.InvalidEOLChar"/>
        <!-- ** Alignment-Related ** -->
        <exclude name="Generic.Formatting.MultipleStatementAlignment.NotSameWarning"/>
    </rule>

    <!-- Add in some extra rules from other standards. -->
    <!-- <rule ref="Generic.Commenting.Todo"/> -->
    <rule ref="Generic.CodeAnalysis.UnusedFunctionParameter"/>
    <rule ref="Squiz.Commenting.FunctionComment.SpacingAfter"/>
    <rule ref="Squiz.Commenting.InlineComment"/>
    <rule ref="Generic.Commenting.DocComment">
        <exclude name="Generic.Commenting.DocComment.TagValueIndent"/>
    </rule>
</ruleset>